
@{
    ViewData["Title"] = "Gear Page";
}
<div class="gear-background">
    <h1>Gear</h1>

    <div>
        <a asp-controller="Gear" asp-action="Create" class="btn btn-primary">Add Gear</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Gear Name</th>
                <th>Weight</th>
                <th>Cost</th>
                <th>Recommended Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.GearName</td>
                    <td>@item.Weight</td>
                    <td>@item.Cost</td>
                    <td>@item.RecommendedQuantity</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.GearId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.GearId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.GearId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

